.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
    float: left;
    width:  240px;
    height: 300px;
    object-fit: cover;
}
.polaroid {
  background: #C4A484;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);

}
.polaroid > img{
  max-width: 100%;
  height: 60%;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
    filter: grayscale(30%);

}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) /*rotate(5deg)*/;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  /*transform: rotate(6deg)*/;
  height: 60%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) /*rotate(-2deg)*/;
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  /*transform: rotate(-6deg)*/;
  height: 60%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) /*rotate(3deg)*/;
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  /*transform: rotate(4deg)*/;
  height: 60%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) /*rotate(-3deg)*/;
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  /* transform: rotate(-4deg) */;
  height: 60%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 60%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}



/*======================================
//--//-->   FOOTER
======================================*/

.section-footer {
    padding-top: 60px;
    margin-top: 60px;
    background: #f3f3f3;
}

.section-footer ul {
    line-height: 2;
}

.section-footer .item-list-a i {
    font-size: 18px;
    padding-right: 4px;
    color: #2eca6a;
}

.section-footer .widget-a .w-title-a {
    margin-bottom: 1rem;
}

footer {
    background: #f3f3f3;
    text-align: center;
    padding: 10px 0;
}

footer .copyright-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

footer .credits {
    font-size: 10px;
}


#design-cast {
    position: relative;
    overflow: hidden;
}

.member {
    float: left;
    width: 31%;
    margin: 1% 1% 45px 1%;
}


.member img {
    width: 100%;
    height: 100px;
    display: block;
}

.img {
    width: 800px;
    height: 400px;
}
.contact-block{
     background-color: rgb(153 117 82);
        padding: 15px;
        margin-bottom: 40px;
        border-radius: 5px;
        display: block;
        box-shadow: 0px 0px 10px #242424;
        transition: 0.3s;
        cursor: pointer;
}