.landing-page {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(66, 66, 66); 
    /*background: url('../images/Houses.jpeg') no-repeat center top;*/
    background-color: #734d26;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    box-shadow: 0px 0px 20px #242424;
}

.bunkup-logo-landing {
    background: url('../images/logo.png') no-repeat center top;
    /*background-size: 50%;*/
    height: 13vh;
}

.button-label {
    cursor: pointer; 
}

.button-outer-wrapper {
    display: flex; 
    margin: 40px 10px; 
}

.button-wrapper  {
    flex: 1; 
    text-align: center 
}

.button-inner-left {
    display: inline-block; 
    width: 60px; 
    text-align: right;
    padding-right: 20px; 
}

.button-inner-right {
    display: inline-block;  
    text-align: left; 
}

.text-section {
    width: 74%;
    background:#ab886c;
    height: calc(100% - 50px);
    float: left;
    padding-left: 100px;
    padding-right: 0px;
    padding-top: 50px;
    color: white;
    margin: 30px;
}

.popout-section {
    width: calc(100% - 100px);
    padding: 50px; 
    background-color: grey;
    box-shadow: 0px 0px 20px #242424;
    margin-top: 40px; 
    border-radius: 5px;  
}

.fa-solid fa-brain-circuit {
    color: white;
    font-size: 55px;
    opacity: 0.5;
    cursor: pointer;
    position: relative;
    top: 10px;
    margin: 10px 20px 10px 10px;
    transition: 0.3s;
}

.fa-plus-circle {
    color: white; 
    font-size: 55px;
    opacity: 0.5; 
    cursor: pointer; 
    position: relative; 
    top: 10px; 
    margin: 10px 20px 10px 10px;
    transition: 0.3s;   
}

.fa-plus-circle:hover {
    opacity: 0.3; 
}

.login-link {
    text-decoration: underline; 
}

@media screen and (max-width: 900px) {
    .button-outer-wrapper {
        display: block; 
        margin: 40px auto; 
        width: 230px; 
    }
    
    .button-wrapper  {
        display: block;  
        text-align: left;  
    }

    .button-inner-right {
        display: inline-block;  
        text-align: left; 
    }
}

.padding20 {
    padding: 20px;
}

.margin-set{
    margin: 40px;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    width:100%;
    min-width:100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-caption {
    bottom: 270px;
}

.carousel-caption h5 {
    font-size: 45px;
    color: #ffffff!important;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-text-content {
    color: #d3d3d3!important;
}

.footer-basic {
    padding:5px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 1px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:1px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:5px;
    text-align:center;
    font-size:10px;
    color:#aaa;
    margin-bottom:0;
}

.cater3-movingBG {
    height: 600px;
    /*background-image: url(https://i.postimg.cc/8CmmvSr4/roommate-tips-featured-image.jpg);*/
    background-image: url(https://i.postimg.cc/ZqWwyRSS/Getty-Images-734164559.jpg);
    background-size: 125%;
    background-repeat: repeat-x;
    animation: animatedBackground 15s linear alternate infinite;
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    50% { background-position: 50% 0; }
    100% { background-position: 0 0; }
}

.flyinTxtCont {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 10%;
    margin-left: 2em;
}
.flyIn {
    color:#fff;
    font-family:'Raleway';
    text-transform:uppercase;
    line-height:1.2em;
    position:relative;
    text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
}
.lineOne {
    transition-delay:.2s;
    transition:.4s ease in;
    animation: txtFlyIn .3s linear;
}
.lineTwo {
    transition-delay:.4s;
    transition:.6s ease in;
    animation: txtFlyIn .6s linear;
}
.lineThree {
    transition-delay:.6s;
    transition:.8s ease in;
    animation: txtFlyIn .9s linear;
}
.lineOne, .lineTwo, .lineThree {
    font-size:80px;
    font-weight: bold;
    letter-spacing: 3px;
}
.lineFour {
    transition-delay:2s;
    transition:2s ease in;
    animation: fadeIn 2s linear;
    width: 100%;
    background-color:rgba(255,255,255,0.9);
    display:inline-block;
    color:#000;
    box-size:border-box;
    max-width:63%;
    max-width: 22em;
    font-size: 20px;
    padding: .2em .5em;
    margin-top: 30px;
}

.lineFive {
    transition-delay:2s;
    transition:2s ease in;
    animation: fadeIn 2s linear;
    width: 100%;
    background-color:rgba(192,192,192,0.7);
    display:inline-block;
    color:#000;
    box-size:border-box;
    max-width:30%;
    max-width: 22em;
    font-size: 15px;
    padding: .2em .5em;
    margin-top: 10px;
}

@keyframes fadeIn{
    0% { opacity:0;}
    100% { opacity:1;}
}
@keyframes txtFlyIn{
    0% { transform:translateX(-100%); }
    100% { transform:translateX(0%); }
}


.navbar { background-color: #484848; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #fbc531; }
.navbar .navbar-nav .active > .nav-link { color: #fbc531; }

footer a.text-light:hover { color: #fed136!important; text-decoration: none; }
footer .cizgi { border-right: 1px solid #535e67; }
@media (max-width: 992px) { footer .cizgi { border-right: none; } }


@media screen and (max-width: 700px) {
    .text-section {
        width:  calc(100% - 100px); 
    } 
}

