body {
    background-color: #4d3300 !IMPORTANT;

}
/*.profile-cover {*/
/*    background-color: #4d3300 !IMPORTANT;*/
/*    background-attachment: fixed !IMPORTANT;*/
/*    background-size: cover !IMPORTANT;*/
/*}*/
.profile {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black !IMPORTANT;
    background-color: #cfa684;
    padding: 20px;
    border-radius: 20px;
}

.form-container {
    width: 100%;
    color: black !IMPORTANT;
    background-color: #cfa684;
    padding: 20px;
}


.list-apartment-picture {
    width: 300px;
    height: 300px;
    margin-left: 30px;
    border: 10px solid white;
    background-color: rgb(202, 202, 202);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 700px) {
    .form-container {
        width: 100%; 
    }
    
    .profile {
        width: 100%; 
    } 
}