.wrapper {
        width: 80%;
        text-align: center;
      }
      .polaroid {
        background: #fff;
        padding: 1rem;
        -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
        box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      }
      .polaroid > img {
        max-width: 100%;
        height: auto;
      }
      .caption {
        font-size: 1.8rem;
        text-align: center;
        line-height: 2em;
      }
      .item .polaroid:before {
        content: '';
        position: absolute;
        z-index: -1;
        transition: all 0.40s;
      }
      .item:nth-of-type(2n+1) {
        transform: scale(0.8, 0.8) rotate(5deg);
        transition: all 0.35s;
      }
      .item:nth-of-type(2n+1) .polaroid:before {
        transform: rotate(6deg);
        height: 20%;
        width: 47%;
        bottom: 30px;
        right: 12px;
        box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
      }
      .item:nth-of-type(2n+2) {
        transform: scale(0.8, 0.8) rotate(-5deg);
        transition: all 0.35s;
      }
      .item:nth-of-type(2n+2) .polaroid:before {
        transform: rotate(-6deg);
        height: 20%;
        width: 47%;
        bottom: 30px;
        left: 12px;
        box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
      }
      .item:hover {
        filter: none;
        transform: scale(1, 1) rotate(0deg);
        transition: all 0.40s;
      }
      .item:hover .polaroid:before {
        content: '';
        position: absolute;
        z-index: -1;
        transform: rotate(0deg);
        height: 60%;
        width: 60%;
        bottom: 0%;
        right: 10%;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
        transition: all 0.35s;
      }

.start {
    display: flex;
    flex-direction: column;  
    width: 100%; 
    box-shadow: 0px 0px 10px #242424; 
    border-radius: 10px; 
    overflow: hidden;
/*    background: url('../images/University.jpeg') no-repeat center top;*/
}

#1{
    text-align: center;
}
#2{
    text-align: center;
}
#3{
    text-align: center;
}

h1 {text-align: center;}

.padding20{
    padding: 20px;
}

.section { 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height:170px; 
    transition: 0.3s;  
    margin-bottom: 2px; 
    cursor: pointer; 
    background-color:rgb(60, 90, 100);
}

.section h3 {
    font-size: 24px; 
}

.section:hover {
    background-color:rgb(108, 108, 128);  
}

@media screen and (max-width: 1000px) {
    .section h3 {
        font-size: 22px; 
    } 
}

@media screen and (max-width: 700px) {
    .start {
        position: absolute; 
        top: 0px; 
        bottom: 0px; 
        left: 0px; 
        right: 0px; 
        width: 100%; 
        height: 100%;  
        border-radius: 0px; 
        margin: 0px; 
        padding: 0px;
        box-shadow: none;    
    }
    
    .section {  
        height:33.3vh;  
    }
}
